@use './variables' as *;

html {
  font-size: 16px;
  /* This line will prevent font size changes between orientation. */
  text-size-adjust: 100%;
  @media only screen and (max-width: $tablet-size) {
    font-size: 11px;
  }
  @media only screen and (max-width: $mobile-size) {
    font-size: 10px;
  }
}

body {
  background-image: url("/images/computer.jpg");
  background-size: cover;
  // background-color: #fbfbfe;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100vh;
  width: 90vw;
  font-family: system-ui;
  overflow-x: hidden;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

main {
  margin-top: 3rem;
  margin-left: 5%;
}

section {
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 10px;
}

.None {
  display: none;
}
